{
  "env": {
    "build": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ],
      "plugins": ["external-helpers"]
    },
    "test": {
      "presets": ["@ava/stage-4"]
    }
  }
}
